<%# navigation styled for Twitter Bootstrap 2.3 %>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <div class="navbar navbar-fixed-top">
          <nav class="navbar-inner">
            <ul class="nav">
              <li><%= link_to 'Home', root_path %><li>
              <%= render 'layouts/navigation_links' %>
            </ul>
            <ul class="nav pull-right">
              <% if current_user %>
                <li><%= link_to current_user.email, edit_user_path(current_user.id) %></li>
                <li><%= link_to "Logout", :logout %></li>
              <% else %>
                <li><%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
